# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# Archivos de Docker
*.tar
*.tar.gz
*.zip
docker-compose.override.yml

images-optimized/
images-raw/